@import url('https://fonts.googleapis.com/css2?family=Sacramento&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Concert+One&display=swap');
*
{
    padding: 0;
    margin: 0;
}
body{
    padding: 0;
    margin: 0;
    background: linear-gradient(45deg,rgb(6, 1, 27),rgb(20, 0, 14));
    height: 100vh;
}

.container{
    position:absolute;
    top: 40%;
    left: 35%;
    height: 10px;
}

.b1{
    border: none;
    outline: none;
    font-family: Sacramento;
    font-size: 35px;
    padding: 5px 30px 5px 30px;
    margin: auto;
    border-radius: 10px;
    position:absolute;
    top: 50%;
    left: 50%;
    color: rgb(172, 16, 151);
    background-color: rgb(250, 250, 250);
    box-shadow: 0 0 100px rgba(253, 0, 198, 0.527);
    animation: puls 3s linear infinite;
    cursor: pointer;
}
.b1:active{
    background-color: rgba(194, 7, 138, 0.89);
    color: white;
}

@keyframes puls {
    0% {
        transform: scale(1);
      }
      5% {
        transform: scale(1.1);
      }
      10% {
        transform: scale(1);
      }
      15% {
        transform: scale(1.2);
      }
      50% {
        transform: scale(1);
      }
      100% {
        transform: scale(1);
      }
}

.gif{
    width: 70%;
    margin: -100px -50px 10px 0px;
    display: none;
}